body {
    font-family: 'Arial', sans-serif;
    background: url('c.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.content {
    position: relative;
    z-index: 2;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

header, section, footer {
    background: rgba(0, 0, 0, 0.7);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.santa {
    width: 150px;
    margin-top: 20px;
}

h1, h2, h3 {
    margin: 10px 0;
}

p {
    font-size: 1.2em;
}
